.search_container{
    text-align: center;
}
.search{
    width:35%;
    border-radius: 6px;
    padding: 6px;
    margin: 25px auto;  
  }
  @media screen and (max-width: 600px){
      .search{
          width: 70%;
      }
  }
  @media screen and (max-width: 912px){
    .search{
        width: 60%;
    }
}